/**
*  Copyright (c) 2012-2014 http://www.eryansky.com
*
*  Licensed under the Apache License, Version 2.0 (the "License");
*/
package $entityPackage;


import com.eryansky.core.orm.mybatis.entity.DataEntity;

/**
 * $tableComment entity
 * @author 尔演&Eryan eryanwcp@gmail.com
 * @date ${date}
 */
public class $entityName extends DataEntity<$entityName>{

#foreach ($column in $columns)
   #if($column.comment)
	/**
	 *$column.comment
     */
    #end
private $column.javaType $column.fieldName;
#end

#foreach ($column in $columns)
    public void ${column.setMethod}(${column.javaType} ${column.fieldName}){
       this.${column.fieldName} = ${column.fieldName};
    }
    
    public ${column.javaType} ${column.getMethod}(){
       return this.${column.fieldName} ;
    }
#end
	
}
