/**
*  Copyright (c) ${productName} 2012-${year} ${productUrl}
*
*  Licensed under the Apache License, Version 2.0 (the "License");
*/
package ${servicePackage};

import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

import ${entityPackage}.${entityName};
import ${daoPackage}.${entityName}Dao;
import com.eryansky.core.orm.mybatis.service.CrudService;
/**
 * $tableComment service
 * @author ${author}
 * @date ${date}
 */
@Service
@Transactional(readOnly = true)
public class ${entityName}Service extends CrudService<${entityName}Dao, ${entityName}> {



}
