<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-lazy-init="false">

    <description>Spring Mybatis Configuration</description>

    <!-- 加载配置属性文件 -->
    <context:property-placeholder ignore-unresolvable="true" location="classpath*:/appconfig.properties" />

    <!-- MyBatis begin -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="defaultDataSource"/>
        <property name="typeAliasesPackage" value="com.eryansky.modules.sys.mapper,com.eryansky.modules.notice.mapper,
        com.eryansky.modules.disk.mapper"/>
        <property name="typeAliasesSuperType" value="com.eryansky.common.orm.persistence.AbstractBaseEntity"/>
        <property name="mapperLocations" value="classpath:/mappings/modules/**/*.xml"/>
        <property name="configLocation" value="classpath:/mybatis-config.xml"></property>
    </bean>
    <!-- MyBatis begin -->
    <!-- 扫描basePackage下所有以@MyBatisDao注解的接口-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
        <property name="basePackage" value="com.eryansky.modules.sys.dao,com.eryansky.modules.notice.dao,
        com.eryansky.modules.disk.dao"/>
        <property name="annotationClass" value="com.eryansky.common.orm.mybatis.MyBatisDao"/>
    </bean>
    <!-- MyBatis end -->

    <bean class="com.eryansky.common.orm.mybatis.MapperLoader"></bean>

</beans>